/* HomePage.css */

.blurryImageContainer {
    width: 100%; /* Set the desired width */
    height: 200px; /* Set the desired height */
    overflow: hidden; /* Hide the overflow to clip the blurry edges */
}

.blurryImage {
    width: 100%;
    filter: blur(10px); /* Adjust the blur intensity as needed */
}

.centerText {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}